name: Publish

env:
  CI: true

on:
  release:
    types: [published]

jobs:
  publish-gpr:
    name: Publish to GitHub Packages
    runs-on: ubuntu-latest
    steps:
      - uses: esxl/action-package-build@v0.7.0
        with:
          node-version-file: .nvmrc
          packages-token: ${{ secrets.BOT_GITHUB_PACKAGES_READONLY }}

      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
